* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/*BARRA DE NAVEGACIÓN*/

header a{
  text-decoration: none !important;
}
header{
  position: sticky;
  top: 0.1px;
  z-index: 1000;
}
.contenedor-flex-navbar {
  background-color:#0C356A !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}
.nav-item {
  background-color: #279EFF;
  width: 100%!important;
  margin-right: 2%!important;
  margin-left: 1%!important;
  margin-top: 1%!important;
  margin-bottom: 1%!important;
  padding: 2% 0 2%!important;
  border-radius: 2%!important;
  font-size: 150%!important;
  color: #ffffff;
  text-align: center!important;
}
#logo{
background-color: #0C356A;
padding: 0% 0% !important;
font-size: 35px !important;
}
.flex-anclas{
  padding: 2%;
  font-size: 2rem;
  text-align: center;
}
.flex-anclas a{
  color: #ffffff;
  text-decoration: none;
}

/*EFECTOS BARRA DE NAVEGACIÓN*/
.cambiocolorletra{
  color: #ffffff;
}
.cambiocolorletra:hover {
  color: rgb(0, 0, 0);
}
.flexmainhover:hover {
  background-color: #9dbbe2;
}

/*CARROUSEL*/
.carrousel-box{
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.slider-frame{
  width: 1280px;
  height: auto;
  overflow: hidden; 
  width: 100vw;
}
.slider-frame ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 16s infinite;
}
.slider-frame li{
  list-style: none;
  width: 100%;
}
.slider-frame img{
  position: relative;
  width: 100%;
}
@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  95% {margin-left: -300%;}
}
.textobox{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textoencima{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  text-align: center; 
  font-family:'Quicksand', sans-serif !important;
  font-size: 12rem ;
  color: #ffffff!important;
}

/*ESTILOS DEL HOME.HTML*/
.flex-main-home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  background-color:#9dbbe2; 
}
.flex-servicios-home{
  width: 30%;
  margin: 8% 0px;
}
.flex-servicios-home p{
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 1px 2px #279EFF;
}
.flex-iconos-home{
  background-color: #ffffff;
  width: 50%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 2%;
  box-shadow: 5px 10px 18px #2b3c4c;;
  padding-top: 2%;
  padding-bottom: 1%;
}
.item-iconos-flex p{
  text-align: center;
  float:right;
  color: #2b3c4c;
  font-family: 'Outfit', sans-serif;
  padding-right: 7%;
  padding-top: 2%;
}
.item-iconos-flex img{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 16%;
  margin-left: 4%;
  margin-bottom: 2%;
  border-bottom: 5px solid #9dbbe2;
}
.profesores{
  background-color: #279EFF;
  padding-top: 2%;
  padding-bottom: 2%;
}
.flexapi{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0C356A;
  width: 40%;
  height: 25vh;
  margin: 3% 0% 3% 30.5%;
  border-radius: 6px;
}
.fotoapi{
  padding-top: 2%;
  padding-left: 2%;
  border-radius: 6px;
}
.infoapi{
color: #ffffff;
padding-top: 2%;
padding-left: 3%;
}
.infoapi p{
  padding-top: 4%;
  padding-left: 2%;
}
.flex-profesores-home{
background-color: #279EFF; 
text-align: center; 
padding-top: 2%; 
}
.flex-profesores-home p{
  font-size: 3rem;
  color: #0C356A;
  font-weight: 600;
  text-shadow: 2px 1px 2px #279EFF;
  padding-left: 2%;
  padding-top: 2%;
  line-height: 120%;
}
.acceso-cursos-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #279EFF;
}
.acceso-cursos-home p{
  font-family: 'Outfit', sans-serif;
  color: #0C356A;
  background-color: #279EFF;
  text-align: center;
  font-size: 4rem;
  margin-top: 1%;
  text-shadow: 2px 1px 2px #9dbbe2;
  padding-bottom: 2%;
}
.acacursos{
  font-family: 'Outfit', sans-serif;
  color: #0C356A;
  text-decoration: none !important;
  font-size: 5rem;
  font-family: 'Outfit', sans-serif !important;
}
.acacursos:hover{
  color: #ffffff !important;
}
.anclaarriba{
  text-align: end;
  transition: box-shadow 1s ease-in-out;
}
.anclaarriba:hover{
  box-shadow: inset 100vw 0 0 0 #0C356A;
}
.anclaarriba a{
  background-color: #0C356A;
  color: #ffffff;
  padding: 1%;
  border-radius: 4px;
}
.anclaarribahome{
  text-align: end;
  transition: color .6s ease-in-out, box-shadow 1s ease-in-out;
}
.anclaarribahome:hover{
  background-color: #279EFF;
  box-shadow: inset 100vw 0 0 0 #0C356A;
}
.anclaarribahome a{
  background-color: #0C356A;
  color: #ffffff;
  padding: 1%;
  border-radius: 4px;
}
/*ESTILOS DE SOBRENOSTROS.HTML*/
.flex-nosotros-historia{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}
.educacion-nosotros{
  width: 30%;
  padding-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}
.educacion-nosotros h3{
  font-size: 3rem;
  font-family:'Quicksand', sans-serif !important;
  line-height: 200%;
}
.parrafo-nosotros-historia{
  margin-top: 4%;
  padding-left: 4%;
  padding-top: 4%;
}
.parrafo-nosotros-historia p{
  font-size:165%;
  line-height: 280%;
}
.mayuscula{
  font-size: 200%;
}
.hovernosotros{
background-color: #ffffff;  
 color: #0C356A;
 transition: box-shadow 1s ease-in-out;
}
.hovernosotros:hover{
  color: #0C356A;
 box-shadow: inset 100vw 0 0 0 #9dbbe2;
}
.flex-nosotros-foto{
  display: flex;
  flex-direction: row;
}
.flex-nosotros-foto img{
  margin-top: 2%;
  margin-bottom: 2%;
}
.parrafo-nosotros-docentes{
  margin-left: 2%;
  width: 40%;
  justify-content: center;
  margin-left:8%;
  padding: 7% 0 12%;
}
.parrafo-nosotros-docentes p{
  font-size: 40px;
  line-height: 150%;
}
.flex-nosotros-compromiso{
  display: flex;
  flex-direction: column;
}
.futuro{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2%;
}
.compromiso{
  margin: 0% 4%;
  font-size: 2rem;
}
.compromiso li{
  padding-bottom: 2%;
  justify-content: flex-start;
}
/*ESTILOS CURSOS.HTML*/
.fondocurso{
  background-color: #9dbbe2;
}
li{
  list-style: none !important;
  text-align: center;
  color: #2b3c4c;
}
.titulo-curso h3{
  padding-top: 7%;
  font-size: 2.8rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 10px 5px 10px #0C356A;
  margin-top: 0px !important;
}
.flex-curso{
 display: flex;
 flex-direction: column; 
 align-items: center;
}
.tarjeta-curso{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #279EFF;
  width: 90vw;
  height: 50vh;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgb(0, 0, 0.2);
  transition: all 0.25s;
  margin:5%;
  border-radius: 6px;
}
.tarjeta-curso:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}
.tarjeta-foto img{
  width: 10wh;
  height: 50vh;
  border-radius: 6px;
  padding-right: 1%;
}
.tarjeta-infocurso{
  background-color: #279EFF;
  border-radius: 6px;
}
.tarjeta-infocurso p{
  font-size: 30px;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  padding-left: 2%;
  text-align: center;
}
.tarjeta-infocurso h1{
  text-align: center;
  padding: 2%;
}
.tarjeta-infocurso a{
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
}
.azulcito:hover{
  color:#0C356A;
  text-decoration: none;
}
/*ESTILOS DEL FOOTER*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #0C356A;
  height: 20vw;
  color: #ffffff;
}
.textoredes{
align-self: center;
margin-top: 0.5%;
font-size: 1.5rem;
}
.redes{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.red{
  width: 50px;
}
.domicilioycontacto{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.infofooter{
  font-size: 20px;
}

/*FORMULARIO DE CONTACTO*/

.row::after {
  content: "";
  clear: both;
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#map{
  display: flex;
  width: 800%;
  margin: 30px;
}

#formu{
  text-align: center;
  font-size: xx-large;
  font-style: italic;
}
#but{
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: large;
}
.etiqueta{
  text-align: center;
  font-size: x-large;
  margin: 50px;
  padding-left: 200px;
  background-color: #279EFF;
}
#imagen{
  width: 25%;
  position: inherit;
} 
h3{
  text-align: center;
  margin: 30px;
 }
 
div.col{
  font-size: x-large;
  padding: 10px;
  border: 1px solid black;
  background-color:  #279EFF;
}

/*MEDIAS QUERIES*/
/*HOME*/

@media screen and (max-width: 600px) {
  .contenedor-flex-navbar{
    flex-direction: column !important;
    width: auto;
    padding-bottom: 1%;
  }
  header{
    position: static !important;
  }
  .nav-item{
    margin-left: 0% !important;
  }
  .textoencima h2{
  font-size: 2rem !important;
  }
  .flex-servicios-home{
    width: 100% !important;
    text-align: center ;
    font-size: 30% !important;
    padding: 0px 4%;
  }
  .flex-iconos-home{
    width: 100% !important;
    border-radius: 0px !important;
    padding-bottom: 9% !important;
    padding-top: 2% !important;
    padding-left: 4%;
  }
  .item-iconos-flex img{
    width: 30%;
    margin: 4% 0px 0px;
  }
  .item-iconos-home p{
  padding-bottom: 2%;
  }
  .acceso-cursos-home{
    height: 100% !important;
  }
  .flexapi{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0C356A;
    width: 90%;
    height: 25vh;
    margin: 3% 0% 3% 4%;
    border-radius: 6px;
  }
  .flex-profesores-home{
  background-color: #279EFF; 
  text-align: center; 
  padding-top: 2%; 
  }
  .flex-profesores-home p{
    font-size: 3rem;
    color: #0C356A;
    font-weight: 600;
    text-shadow: 2px 1px 2px #279EFF;
    padding-left: 2%;
    padding-top: 2%;
    line-height: 120%;
  }
}
@media only screen and (max-width: 1000px) {
  .contenedor-flex-navbar{
    flex-direction: column !important;
    width: auto;
    padding-bottom: 1%;
  }
  header{
    position: static !important;
  }
  .nav-item{
    margin-left: 0% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  .textoencima h2{
    font-size: 7rem !important;
  }
  .flex-servicios-home{
    width: 80% !important;
    text-align: center ;
    font-size: 30% !important;
    padding: 0px 4%;
  }
  .flex-iconos-home{
    width: 100% !important;
    border-radius: 0px !important;
    padding-bottom: 9% !important;
    padding-top: 2% !important;
  }
  .item-iconos-flex img{
    width: 20% !important;
  }
  .item-iconos-flex p{
  padding-bottom: 5%;
  font-size: 150%;
  }
  .acceso-cursos-home{
    height: 100% !important;
    font-size: 3rem !important;
    padding: 0px 2% !important;
  }
  .flexapi{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0C356A;
    width: 90%;
    height: 25vh;
    margin: 3% 0% 3% 4%;
    border-radius: 6px;
  }
  .footer{
    height: 100% !important;
    padding: 4%;
  }
  .redes{
      padding: 5%;
  }
  .domicilioycontacto p{
      text-align: center;
  }
}
@media only screen and (max-width: 1210px) {
  .flex-servicios-home{
    width: 80% !important;
    text-align: center ;
    font-size: 30% !important;
    padding: 0px 1%;
  }
  .flex-iconos-home{
    width: 80% !important;
    border-radius: 0px !important;
    padding-bottom: 8% !important;
    padding-top: 4% !important;
  }
  .acceso-cursos-home{
    height: 100% !important;
    font-size: 3rem !important;
    padding: 0px 2% !important;
  }
}
/*SOBRENOSOTROS.HTML*/
@media screen and (max-width: 600px){
  .educacion-nosotros{
    width: 100%;
    padding-left: 2%;
    margin-top: 2%;
    margin-left: 2%;
  }
  .parrafo-nosotros-historia{
    margin-top: 1% !important;
    padding-left: 6%;
    padding-top: 1% !important;
    padding-bottom: 4%;
  }
  .flex-nosotros-foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-nosotros-foto img{
    width: 100%;
  } 
  .parrafo-nosotros-docentes{
    width: 100%;
  }
  .flex-nosotros-compromiso li{
    padding-bottom: 8%;
    padding-top: 8%;
  }
  .futuro{
    padding-bottom: 4%;
    font-size: 2.5rem;
  }
  footer{
    height: max-content;
  }
}
@media only screen and (max-width: 1000px) {
  .educacion-nosotros{
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
  }
  .parrafo-nosotros-historia{
    margin-top: 1% !important;
    padding-left: 6%;
    padding-top: 1% !important;
    padding-bottom: 6%;
  }
  .flex-nosotros-foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .flex-nosotros-foto img{
    width: 100%;
    margin-top: 2%;
  } 
  .parrafo-nosotros-docentes{
    width: 100%;
    margin-left: 3%;
  }
  .flex-nosotros-compromiso li{
    padding-bottom: 6%;
    padding-top: 6%;
  }
  footer{
    height: max-content;
    }
}
@media only screen and (max-width: 1260px){
  .educacion-nosotros{
    width: 100% !important;
    margin-top: 2%;
    margin-left: 2%;
  }
  .parrafo-nosotros-historia{
    margin-top: 1% !important;
    padding-left: 6%;
    padding-top: 1% !important;
    padding-bottom: 6%;
  }
  .flex-nosotros-foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .flex-nosotros-foto{
    width: 100% !important;
    margin-top: 2%;
  } 
  .parrafo-nosotros-docentes{
    width: 100%;
    margin-left: 3%;
  }
  .flex-nosotros-compromiso li{
    padding-bottom: 4%;
    padding-top: 4%;
  }
  footer{
    height: max-content;
    }
}
/*CURSOS.HTML*/
@media screen and (max-width: 600px){
  .tarjeta-foto img{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .tarjeta-infocurso h1{
    font-size: 2rem;
  }
  .flex-anclas{
    font-size: 1rem;
  }

}
@media screen and (max-width: 1000px){
  .flex-curso{
    display: flex;
    flex-direction: column; 
   }
   .tarjeta-curso{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     background-color: #279EFF;
     height: auto;
     border-radius: 12px;
     box-shadow: 0px 2px 2px rgb(0, 0, 0.2);
     transition: all 0.25s;
     margin-top: 6%;
     border-radius: 6px;
   }
   .tarjeta-curso:hover{
     transform: translateY(-15px);
     box-shadow: 0 12px 16px rgb(0, 0, 0.2);
     overflow: visible !important;
   }
   .tarjeta-foto{
    padding-top: 3%;
   }
   .tarjeta-foto img{
     height: 30vh !important;
     padding-right: 1%;
     align-content: flex-start !important;
     padding-top: 4%;
   }
   .tarjeta-infocurso{
     background-color: #279EFF;
     border-radius: 6px;
     padding-bottom: 4%;
   }
   .tarjeta-infocurso p{
     font-size: 25px;
     color: #ffffff;
     font-family: 'Outfit', sans-serif;
     padding-top: 1%;
     padding-left: 2%;
     text-align: center;
   }
   .tarjeta-infocurso h1{
    text-align: center;
    padding:0px;
    margin: 0px;
    font-size: 2.5rem;
   }
   .flex-anclas{
    font-size: 2rem;
  }
}
@media screen and (max-width: 1360px){
  .flex-curso{
    display: flex;
    flex-direction: column; 
   }
   .tarjeta-curso{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     background-color: #279EFF;
     width: 80vw;
     height: auto;
     border-radius: 12px;
     box-shadow: 0px 2px 2px rgb(0, 0, 0.2);
     transition: all 0.25s;
     margin-top: 6%;
     border-radius: 6px;
     padding-bottom: 2%;
     padding-top: 2%;
   }
   .tarjeta-foto{
    padding-top: 3%;
   }
   .tarjeta-foto img{
     height: 50vh;
     padding-right: 1%;
     align-content: flex-start !important;
}}