* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
/*Maquetado con grid*/
.contenedor {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(36, 1fr);
  row-gap: 10px;
}

.item {
  background-color: #D5FFD0;
  text-align: center;
}

.header {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 7;
  border-top: solid 1px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
  place-items: center;
}

.gridmain {
  background-color: #279EFF;
  grid-row-start: 3;
  grid-row-end: 33;
  grid-column-start: 1;
  grid-column-end: 7;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 2%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer {
  grid-row-start: 33;
  grid-row-end: 37;
  grid-column-start: 1;
  grid-column-end: 7;
}

.navbar .navitem {
  padding-left: 2%;
  padding-top: 3%;
  text-decoration: none;
  font-size: large;
  color: rgb(255, 253, 250);
  text-align: center;
  margin-right: 3%;
}

/*Efecto barra de navegación*/
.cambiocolorletra{
  color: rgb(0, 0, 0);
}

.cambiocolorletra:hover {
  color: rgb(0, 0, 0);
}

.flexitem:hover {
  background-color: #D5FFD0;
}

/*Navbar con flex*/
.contenedorflex {
  background-color:#0C356A;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.flexitem {
  background-color: #279EFF;
  width: 150px;
  height: 80px;
  margin: 3%;
  padding: 15px;
  justify-items: center;
  text-align: center;
  border-radius: 4%;
  
}

.flexbienvenida {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 2%;
}
/*MAIN*/
.bienvenido {
  font-size: 4em;
  color: beige;
}

.tarjetabienvenidaflex {
  background-color: beige;
  width: 50%;
  margin: 5%;
  padding: 2%;
  border-radius: 5%;
}

.parrafobienvenida {
  line-height: 30px;
  color: black;
}

.tarjetacompromiso{
  background-color: beige;
  width: 70%;
  margin: 10%;
  padding: 2%;
  border-radius: 5%;
  line-height: 30px;
}
.tarjetafoto{
background-color: beige;
margin: auto;
width: 50%;
padding: 2%;
border-radius: 100%;
}

img{
  border-radius: 100%;
}

.finalbienvenida{
  background-color: beige;
  width: 1000px;
  margin: 10%;
  height: auto;
  border-radius: 5%;
}
h2{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3em;
  padding: 2%;
}

#red{
  width: 35px;
}

footer > h3{
padding: 2%;
}

.infofooter{
padding: 20px;
text-align: center;
}

section{
  text-align: center;
  width: 100%;
  margin: 15px;
  padding: 10px;
  
}
