* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
/*Maquetado con grid*/
.contenedor {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(50, 2%);
}
.header {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 7;
  font-family: 'Quicksand', sans-serif;
}
.gridmain {
  background-color: #279EFF;
  grid-row-start: 3;
  grid-row-end: 35;
  grid-column-start: 1;
  grid-column-end: 7;
}
.footer {
  grid-row-start: 50;
  grid-row-end: 55;
  grid-column-start: 1;
  grid-column-end: 7;
}
/*Navbar con flex*/
.header a{
  text-decoration: none !important;
}
.contenedorflex {
  background-color:#0C356A;
  display: flex;
  flex-direction: row;
}
.navitem {
  background-color: #279EFF;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 40%;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 2%;
}
.navbar .navitem {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
/*Efecto barra de navegación*/
.cambiocolorletra{
  color: rgb(255, 255, 255);
}
.cambiocolorletra:hover {
  color: rgb(0, 0, 0);
}
.hover:hover {
  background-color: #D5FFD0;
}
/*CARROUSEL*/
.carrousel-box{
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.slider-frame{
  width: 1280px;
  height: auto;
  overflow: hidden; 
  width: 100vw;
}
.slider-frame ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 16s infinite;
}
.slider-frame li{
  list-style: none;
  width: 100%;
}
.slider-frame img{
  position: relative;
  width: 100%;
}
@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  95% {margin-left: -300%;}
}
.textobox{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textoencima{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  text-align: center; 
  font-family:'Quicksand', sans-serif !important;
  font-size: 12rem !important;
  color: #D5FFD0!important;
}
/*MAIN CON INFORMACIÓN*/
.flexbienvenida {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 2%;
}
/*MAIN*/
.bienvenido {
  font-size: 4em;
  color: beige;
}
.tarjetabienvenidaflex {
  background-color: beige;
  width: 50%;
  margin: 5%;
  padding: 2%;
  border-radius: 5%;
}
.parrafobienvenida {
  line-height: 30px;
  color: black;
}
.tarjetacompromiso{
  background-color: beige;
  width: 70%;
  margin: 10%;
  padding: 2%;
  border-radius: 5%;
  line-height: 30px;
}
.tarjetafoto{
background-color: beige;
margin: auto;
width: 50%;
padding: 2%;
border-radius: 100%;
}
.finalbienvenida{
  background-color: beige;
  width: 1000px;
  margin: 10%;
  height: auto;
  border-radius: 5%;
}
h2{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3em;
  padding: 2%;
}
.red{
  width: 35px;
}
footer > h3{
padding: 2%;
}
.infofooter{
padding: 20px;
text-align: center;
}

section{
  text-align: center;
  width: 100%;
  margin: 15px;
  padding: 10px;
  
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#map{
  text-align: center;
  width: 100%;
}
#imagen{
  width: 25%;
  position: inherit;
}
